doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title= title
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/styles.css')
  body
    block content
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/popper.min.js")
    script(src="/javascripts/theme.min.js")
    script(src="/javascripts/app.js")

    //- Script to intialise Parallex on homepage
    script.
      $(function () {
        if (!window.utils.isMobile()) {
          $(window).scroll(function() {
            var scroll = $(window).scrollTop(), 
            slowScroll = scroll/4,
            slowBg = 50 + slowScroll;

            $('.agency-hero').css("background-position", "center " + slowBg + "%");
          });

          utils.parallax_text($(".agency-hero .hero-text"), $(".hero-text").position().top);
        }
      });
