#homeHero {
  background-image: url('#{$imagesPath}/backgrounds/road.jpg');
}

#homePhotographyCTA {
  background: url('#{$imagesPath}/backgrounds/mountain.jpg') no-repeat center center;
  padding-top: 90px;
  margin-bottom: -100px; // Eliminates margin between CTA & footer

  h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
  }

  p {
    text-align: center;
    font-size: 16px;
    color: #fff;
    width: 65%;
    margin: auto;
    line-height: 29px;

    @media(max-width: 767px) {
      width: auto;
    }
  }

  a {
    @extend .btn-pill
  }
}

#homeValues .values-avatar {
  background-repeat: no-repeat;
  background-size: 70%;
}

#homeValues .mask {
  background: rgba(68, 144, 105, 0.8)
}

#homeTestimonial {
  .quote-mark {
    color: #a5c59e;
  }
  .quote {
    color: #499c7e;
  }
}

.img-intrinsic {
  background-image: url('#{$imagesPath}/avatars/intrinsic_avatar.png');
}
.img-intrinsicself {
  background-image: url('#{$imagesPath}/avatars/intrinsic-self_avatar.png');
}
.img-self {
  background-image: url('#{$imagesPath}/avatars/self_avatar.png');
}
.img-instrumentalself {
  background-image: url('#{$imagesPath}/avatars/instrumental-self_avatar.png');
}
.img-instrumental {
  background-image: url('#{$imagesPath}/avatars/instrumental_avatar.png');
}
.img-instrumentalother {
  background-image: url('#{$imagesPath}/avatars/instrumental-other_avatar.png');
}
.img-other {
  background-image: url('#{$imagesPath}/avatars/other_avatar.png');
}
.img-intrinsicother {
  background-image: url('#{$imagesPath}/avatars/intrinsic-other_avatar.png');
}
.img-hybrid {
  background-image: url('#{$imagesPath}/avatars/hybrid_avatar.png');
}
